{% extends 'base.html' %}

{% block javascript %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/showPlaylist.css' %}">
<script src="{% static 'js/playMusic.js' %}"></script>
{% endblock javascript %}

{% block content %}

<div class="row">
    <div class="col-12 col-xl-10">
        <div style="display:None;" id="players"></div>

        <div  class="playlist-zone">
            {% for playlist in soundboard.playlists.all %}
            <div class="playlist-link playlist-element playlist-dim-100 m-1" id="playlist-{{ playlist.id }}" style="background-color:{{playlist.color}};color :{{playlist.colorText}};" data-playlist-uri="{% url 'streammMusic' playlist.id %}" {% for key, value in playlist.getDataSet.items %}
                data-playlist-{{ key }}="{{ value }}" {% endfor %}>
                {{ playlist.name }}
            </div>
            {% endfor %}
        </div>

        
    </div>
    <div class="col-12 col-xl-2">
        <div>
            <a href="{% url 'addPlaylistWithSoundboard' soundboard.id %}">Créer une playlist</a>
            <br/>
            <a href="{% url 'organizeSoundboard' soundboard.id %}">Organizer</a>
        </div>


    </div>

</div>
<div class="row">
    <div class="col">
        <a href="{% url 'soundboardsUpdate' soundboard.id %}">Modifier le general du SoundBoard</a>

    </div>
</div>





{% endblock %}