{% extends 'base.html' %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/form/soundboard_form.js' %}"></script>
{% endblock javascript %}

{% block content %}

<h2>
    {% if method == 'update' %}
    Modifier le SoundBoard {{ form.instance.name }}
    {% else %}
    Créer un nouveau SoundBoard
    {% endif %}
</h2>

{% if form.instance.id %}
<div>
    <button class="btn btn-danger" onclick=confirmSuppression(this) data-deleteurl="{% url 'soundboardsDelete' form.instance.id %}" data-redirecturl="{% url 'soundboardsList' %}">Supprimer</button>
</div>
{% endif %}
<form method="post">
    {% csrf_token %}

    <div>
        <label for="name">Nom du SoundBoard :</label>
        <input type="text" id="name" name="name" required value="{{ form.name.value|default_if_none:" SoundBoard" }}">
    </div>
    <div>
        <label for="color">Couleur du SoundBoard :</label>
        <input type="color" id="color" name="color" value="{{ form.color.value|default_if_none:"#000000" }}" />
    </div>
    <div>
        <label for="color">Couleur du texte du SoundBoard :</label>
        <input type="color" id="colorText" name="colorText" value="{{ form.colorText.value|default_if_none:"#ffffff" }}" />
    </div>
    <div>
        <label for="color">Partager le soundboard :</label>
        <input type="checkbox" id="is_public" name="is_public" {% if form.instance.is_public %}checked{% endif %}>
    </div>
    <button class="btn btn-primary" type="submit">
        {% if method == 'update' %}
        Modifier le SoundBoard
        {% else %}
        Créer un nouveau SoundBoard
        {% endif %}
    </button>
</form>



{% endblock content %}