{% extends 'base.html' %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/playMusic.js' %}"></script>
{% endblock javascript %}

{% block content %}
<h2>{{ soundboard.name }}</h2>

<div width="100%" style="justify-content: space-evenly;">
    {% for playlist in soundboard.playlists.all %}
    <p  style="flex:1">
        <span 
            class="playlist-link" 
            style="width: 180px; height: 180px; display: inline-block; background-color: black;color :red;cursor: pointer;" 
            data-playlist-volume="20" 
            data-playlist-uri="{% url 'streammMusic' playlist.id %}" 
            {% for key, value in playlist.getDataSet.items  %}
                data-playlist-{{ key }}="{{ value }}"
            {% endfor %}
            >
            {{ playlist.name }} 
        </span>
    </p>
    {% endfor %}
</div>

<div style="dis--play:None;" id="players"></div> 

<div>
    <div style="float:right; color:red;">
        <a href="{% url 'addPlaylistWithSoundboard' soundboard.id %}">Créer une playlist</a>
        <a href="{% url 'organizeSoundboard' soundboard.id %}">Organizer</a>
    </div>
</div>

<a href="{% url 'soundboardsUpdate' soundboard.id %}">Modifier le general du SoundBoard</a>
{% endblock %}