{% extends 'Html/partial/structure/base.html' %}

{% block content %}
<div class="row justify-content-sm-center">
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Connexion</h5>
            </div>
            <div class="card-body">
                <form id="connexion-form" method="post" action="{% url 'loginPost' %}">
                    {% csrf_token %}
                    <label for="identifiant"class="form-label">Nom d'utilisateur (ou email) :</label>
                    <input type="text" class="form-control" id="identifiant" name="identifiant" required>

                    <label for="password" class="form-label">Mot de passe :</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <hr class="my-4">

                    <button class="btn btn-primary btn-block mt-2" type="submit">Se connecter</button>
                    <a class="btn btn-secondary btn-block mt-2" href="{% url 'send_reset_password' %}">Mot de passe oublié</a>

                    <a class="btn btn-info btn-block mt-2" href="{% url 'createAccount' %}">Créer un compte</a>
                </form>
            </div>
        </div>
    </div>

</div>




{% endblock %}