{% extends 'Html/partial/structure/base.html' %}
{% load FrontJs %}
{% load static %}

{% block javascript %}
{{ block.super }}
<script type="module" src="{% static "PasswordRules"|search_true_file %}"></script>
{% endblock javascript %}

{% block content %}
<div class="row justify-content-sm-center">
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Reinitialisation de mot de passe</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div>
                        {{ form.password.label }}<br /> {{ form.password }}
                        {% if form.password.errors %}
                        <ul>
                            {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <ul>
                            <li class="password-rules" id="password_rules_minLength">Minumum 8 caractères</li>
                            <li class="password-rules" id="password_rules_hasUpperCase">1 majuscule</li>
                            <li class="password-rules" id="password_rules_hasLowerCase">1 minuscule</li>
                            <li class="password-rules" id="password_rules_hasNumber">1 chiffre</li>
                            <li class="password-rules" id="password_rules_hasSpecialChar">1 caractère special</li>
                        </ul>
                    </div>
                    <div>
                        {{ form.confirm_password.label }}<br /> {{ form.confirm_password }}
                        {% if form.confirm_password.errors %}
                        <ul>
                            {% for error in form.confirm_password.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <button class="btn btn-primary btn-block mt-2" type="submit">
                        Modifier le mot de passe
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}