{% extends 'Html/partial/structure/base.html' %}

{% block content %}

<div class="row justify-content-sm-center">
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Envoi de réinitialisation de mot de passe</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div>
                        {{ form.as_p }}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">
                        Reinitialiser le mot de passe
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}