



.zone{
    display: flex;
    flex:auto !important;
}

.range-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.range-container-item{
    width: 25%;
    height: 150px;
}

.range-container-item-label{
    text-align: center;
    display: block;

}

.vertical-range {
    writing-mode: bt-lr; /* bottom-to-top, left-to-right */
    -webkit-appearance: slider-vertical;
    display: block;
    width: 100%;
   
}

.zone-dragAndDrop{
    min-height: 70vh;
}


.playlist-dragAndDrop{
    flex-grow: 0; /* Empêche les enfants de grandir */
    flex-shrink: 0; /* Permet aux enfants de rétrécir si nécessaire */
    align-self: flex-start;
}