APP_ENV='prod'
DEBUG=0
DEBUG_TOOLBAR=0
SECRET_KEY=change_me
FIELD_ENCRYPTION_KEY='change_me' # a generer avec python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
ACTIVE_SSL=1

WEB_PORT=8080
WEB_HOST=ambianceboard

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=hello_django_prod
SQL_USER=hello_django
SQL_PASSWORD=hello_django
SQL_HOST=db
SQL_PORT=5432

RABBIT_MQ_HOST=NE_PAS_PUBLIER
RABBIT_MQ_PORT_AMQP=NE_PAS_PUBLIER
RABBIT_MQ_PORT_WEB=NE_PAS_PUBLIER
RABBIT_MQ_USER=NE_PAS_PUBLIER
RABBIT_MQ_PASSWORD=NE_PAS_PUBLIER

EMAIL_SMTP_SERVEUR= 
EMAIL_SMTP_PORT=
EMAIL_SMTP_USERNAME= 
EMAIL_SMTP_PASSWORD=
EMAIL_SMTP_USE_TLS=True

WS_PORT=8000

EMAIL_NO_REPLAY= # Email de non-réponse
EMAILS_LISTING_MODERATORS= # Liste des emails des modérateurs, séparés par des points-virgules
EMAIL_CONTACT= # Email de contact

LEGAL_RAISON_SOCIALE= # Raison sociale
LEGAL_HEBERGEUR_NAME= # Hébergement
LEGAL_HEBERGEUR_ADRESS= # Adresse de l'hébergeur
LEGAL_HEBERGEUR_CONTACT= # Contact de l'hébergeur
