*.pyc
__pycache
.DS_Store
.env
.env.prod
.env.prod.db
user.csv

#test coverage
.coverage

#foilder
app/mediafiles/musics/*
app/mediafiles/playlistIcon/*
app/mediafiles/soundBoardIcon/*
app/logs/*
app/backup/*
db-data/*
tmp/*



#prod
app/static/*
app/staticfiles/*
staticfiles/*
mediafiles/*
logs/*
frontend/.npm-cache