{% extends 'Html/base_moderator.html' %}
{% load SoundBoard %}
{% load PaginationLinks %}


{% block content %}

<div class="row">
    <div class="col-12">

        <div class="flex-container">
            {% for soundboard in page_objects %}
            <button class="soundboard-element flex-item soundboard-dim-{{ soundboard_dim }} m-1 popup-data-soundboard" data-title="{{soundboard.name}}" data-url="{% url 'moderatorGetDataSoundboard' soundboard.uuid %}"
                style="background-color: {{ soundboard.color }};color :{{ soundboard.colorText }};">
                {{ soundboard | applys_soundboard_content}}
            </button>
            {% endfor %}
        </div>

        {% applys_pagination paginator %}

    </div>


</div>




{% endblock %}