<!DOCTYPE html>
<html lang="fr">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block metatitle %} Ambiance board {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/clientNotification.js' %}"></script>

    {% block javascript %} {% endblock %}
</head>

<body>
    <header>
        <h1>{% block tile %} Ambiance board {% endblock %}</h1>
    </header>
    <div class="container">
        <div class="sidebar-button">
            <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
        </div>
        <nav class="sidebar ">
            {{request.user.username }}
            <ul>
                <li><a class='link-sidebar' href="{% url 'home' %}">Accueil</a> </li>
                {% if request.user.is_authenticated %}
                <li><a class='link-sidebar' href="{% url 'logout' %}">Deconnexion</a> </li>
                <li><a class='link-sidebar' href="{% url 'soundboardsList' %}">Soundboards</a></li>
                <li><a class='link-sidebar' href="{% url 'playlistsAllList' %}">Listing playlist</a></li>
                {% else %}
                <li><a class='link-sidebar' href="{% url 'login' %}">Connexion</a> </li>
                <li><a class='link-sidebar' href="{% url 'createAccount' %}">Creation de compte</a> </li>
                {% endif %}

            </ul>
        </nav>
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
        <p>© 2024 Ambiance board. Tous droits réservés. {% block footer %}{% endblock %}</p>
    </footer>

</body>

</html>