<footer class="footer pb-1 bg-body fullScreen-element" id="mainFooter">
    <div class="container-fluid">

        <div class="row pt-1 pt-md-3 border-top">
            <div class="col-12 col-md-6 text-center text-md-start mb-1 mb-md-3">
                <p class="mb-0">© <span id="copyright-year">2025</span> Ambiance Soundboard. Tous droits réservés.</p>
            </div>
            <div class="col-12 col-md-3 text-center mb-1 mb-md-3">
                <a href="{% url 'legalNotice' %}" class="footer-link url_link">Mention légal</a>
                <span>|</span>
                <a href="{% url 'pricing' %}" class="footer-link url_link">Tarification</a>
            </div>
            <div class="col-12 col-md-3 text-center text-md-end mb-1 mb-md-3">
                <div class="d-flex justify-content-center justify-content-md-end gap-3">
                    {% if request.user.isBetaTester %}
                    <button id="showLoggerBetaTest" class="footer-link url_link">
                        <i class="fa-solid fa-bug"></i>
                    </button>
                    {% endif %}
                    <a href="https://discord.gg/jAkYukwbW9" class="footer-link url_link">
                        <i class="fa-brands fa-discord"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCusaCGqBd_3hIa-7S0JQdCw" class="footer-link url_link">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="https://x.com/AmbianceBoard" class="footer-link url_link">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>


                    <a href="https://github.com/chaBiselx/AmbianceBoard" class="footer-link url_link">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>