// ajouter variable
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

$with-sidebar: 280px;
// text
$text_color_dark: var(--bs-body-color, #212529);
$text_color_dark_hover: var(--bs-gray-400, #85888b);
$text_color_light: var(--bs-body-color, #f8f9fa);
$text_color_light_hover: var(--bs-gray-600, #85888b);
// background
$bg_color_dark: var(--bs-gray-600, #85888b);
$bg_color_dark_hover: var(--bs-gray-400, #85888b);
$bg_color_light: var(--bs-gray-400, #85888b);
$bg_color_light_hover: var(--bs-gray-600, #85888b);
//border 
$border_color_dark: var(--bs-gray-600, #85888b);
$border_color_light: var(--bs-gray-400, #85888b);
//modal 
$modal_header_bg_dark: var(--bs-gray-700, #85888b);
$modal_header_bg_light: var(--bs-gray-300, #85888b);
