{% extends 'Html/base_manager.html' %}

{% block navbar %}
{% include "Html/navbar_manager.html" %}
{% endblock navbar %}


{% block content %}

<div class="row">
    <div class="col-12 col-xl-10">
        <h2>Tableau de bord Manager</h2>
        
        <!-- Outils d'administration -->
        <div class="row mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Outils d'administration</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 mb-2">
                                <a href="{% url 'adminUserTiersDashboard' %}" class="btn btn-primary btn-block">
                                    <i class="fas fa-crown"></i> Gestion des Tiers Utilisateurs
                                </a>
                            </div>
                            <div class="col-md-4 mb-2">
                                <a href="{% url 'adminCleanMediaFolders' %}" class="btn btn-warning btn-block">
                                    <i class="fas fa-broom"></i> Nettoyer les Médias
                                </a>
                            </div>
                                <div class="col-md-4 mb-2">
                                <a href="{% url 'managerExpireUserTiers' %}" class="btn btn-warning btn-block">
                                    <i class="fas fa-broom"></i> Expirer les Tiers Utilisateurs
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
   

</div>




{% endblock %}