{% extends 'Html/partial/structure/base.html' %}
{% load SoundBoard %}
{% load i18n %}


{% block content %}


{% include 'Html/partial/soundboard/header.html' with type_header="public" %}
<div class="row">

    
    <div class="col-12">
        <div style="display:None;" id="players"></div>

        {% include 'Html/partial/soundboard/mixer.html' with PlaylistTypeEnum=PlaylistTypeEnum owner=False master=True %}

        {% include 'Html/partial/soundboard/playing_monitor.html' %}

        {% include 'Html/partial/soundboard/board.html' with master=True owner=False soundboard=soundboard %}


    </div>
</div>

{% endblock %}