{% extends 'Html/base.html' %}
{% load SoundBoard %}


{% block content %}

{% include 'Html/partial/share_soundboard.html'%}

<div class="row">
    <div class="col-12 fullScreen-element">
        <h4  id="soundboard-name">{{ soundboard | get_name }}</h4>
    </div>
    <div class="col-12">
        <div style="display:None;" id="players"></div>

        {% include 'Html/partial/soundboard/mixer.html' with PlaylistTypeEnum=PlaylistTypeEnum%}

        {% include 'Html/partial/soundboard/board.html' with master=True owner=False soundboard=soundboard %}


    </div>
</div>

{% endblock %}