{% extends 'Html/base.html' %}

{% block content %}
<div>
    <section>
        <h2>1. Éditeur du site</h2>
        <p>
            L'application <strong>Ambiance Soundboard</strong> est éditée par :<br />

            Nom ou raison sociale : BISELX Charles<br />
            Email : contact@... <br />
            Directeur de la publication : BISELX Charles
        </p>
    </section>
    <section>
        <h2>2. Hébergeur</h2>
        L'hébergement du service est assuré par : <br />
        Nom de l'hébergeur : [société d'hebergement] <br />
        Adresse : [Adresse de l'hébergeur] <br />
        Email / Contact : [Email du support hébergeur] <br />
    </section>
    <section>
        <h2>3. Objet du service</h2>
        [Nom du projet] est une application permettant aux utilisateurs d'ajouter et d'organiser des sons/musiques sous forme de soundboard.

    </section>
    <section>
        <h2> 4. Responsabilité de l'éditeur</h2>
        L'éditeur met à disposition une plateforme technique mais n'est pas responsable des contenus téléchargés par les utilisateurs. <br />
        L'utilisateur est seul responsable des fichiers qu'il met en ligne et s'engage à respecter les droits d'auteur ainsi que les lois en vigueur.

    </section>
    <section>
        <h2>5. Responsabilité des utilisateurs</h2>
        L'utilisateur s'engage à :
        <ul>
            <li>Ne pas mettre en ligne de contenus protégés par des droits d'auteur sans autorisation.</li>
            <li>Ne pas utiliser le service pour héberger ou diffuser des contenus illégaux (incitation à la haine, diffamation, atteinte à la vie privée, etc.).</li>
            <li>Respecter les conditions générales d'utilisation du service.</li>
            <li>Tout contenu illicite signalé pourra signalé pourra être supprimé sans préavis, et l'éditeur se reserve le droit de suspendre ou bannir les comptes concernés.</li>
        </ul>
    </section>
    <section>
        <h2> 6. Propriété intellectuelle</h2>
        Le design, le code et les fonctionnalités de Ambiance soundboard sont protégés par les droits de propriété intellectuelle. Toute reproduction non autorisée est interdite.

    </section>

    <section>
        <h2>7. Signalement et suppression de contenu</h2>
        Si un titulaire de droits constate qu'un contenu portant atteinte à ses droits est hébergé sur Ambiance soundboard, il peut contacter l'éditeur via contact@... en précisant :
        <ul>

            <li>L'URL du contenu litigieux</li>
            <li>La preuve de la titularité des droits</li>
            <li>Une demande de suppression</li>
        </ul>

        L'éditeur s'engage à examiner et traiter la demande dans un délai raisonnable.
    </section>
    <section>
        <h2>8. Protection des données personnelles</h2>
        Les données des utilisateurs sont collectées uniquement dans le cadre du fonctionnement du service et ne sont pas revendues à des tiers.<br />
        Conformément au RGPD, chaque utilisateur dispose d'un droit d'accès, de rectification et de suppression de ses données via [email/contact dédié].<br/>

        Au bout de 24 mois d'inactivité, les données personnelles des utilisateurs seront supprimées.

    </section>
    <section>
        <h2>9. Droit applicable et juridiction compétente</h2>
        Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux compétents seront ceux du ressort du domicile de l'éditeur.<br />
    </section>
</div>

{% endblock %}