{% extends 'Html/partial/structure/base_moderator.html' %}
{% load SoundBoard %}
{% load PaginationLinks %}


{% block content %}

<div class="row">
    <div class="col-12">
        {% url 'moderatorControleImagesSoundboard' as filter_reset_url %}
        <form method="GET" action="{{ filter_reset_url }}" class="mb-3" data-filter-form>
            <div class="d-flex align-items-center gap-3 flex-wrap">
                {% include 'Html/partial/filter/search/filter_select.html' with label="Filtre utilisateur" field_name="user" field_id="filter-user" options=users_select selected_value=selected_user all_option_label="Tous les utilisateurs" %}
                {% include 'Html/partial/filter/search/filter_select.html' with label="Filtre date de création" field_name="period" field_id="filter-period" options=period_choices selected_value=selected_period all_option_label="Toutes les dates" use_key_as_value=True %}
                {% include 'Html/partial/filter/search/filter_select.html' with label="Filtre public" field_name="public" field_id="filter-public" options=public_choices selected_value=public all_option_label="Tous" use_key_as_value=True %}
                {% include 'Html/partial/filter/search/reset_btn.html' with reset_url=filter_reset_url %}
            </div>
        </form>

        <div class="flex-container">
            {% for soundboard in page_objects %}
            <button class="soundboard-element flex-item soundboard-dim-{{ soundboard_dim }} m-1 popup-data-soundboard" data-title="{{soundboard.name}}" data-url="{% url 'moderatorGetDataSoundboard' soundboard.uuid %}"
                style="background-color:{{ soundboard.color }};color:{{ soundboard.colorText }};">
                {{ soundboard | applys_soundboard_content}}
            </button>
            {% endfor %}
        </div>

        {% applys_pagination paginator %}

    </div>


</div>




{% endblock %}