{% extends 'Html/partial/structure/base_moderator.html' %}
{% load SoundBoard %}
{% load PaginationLinks %}


{% block content %}

<div class="row">
    <div class="col-12">
        {% url 'moderatorControleImagesPlaylist' as filter_reset_url %}
        <form method="GET" action="{{ filter_reset_url }}" class="mb-3" data-filter-form>
            <div class="d-flex align-items-center gap-3 flex-wrap">
                {% include 'Html/partial/filter/search/filter_select.html' with label="Filtre utilisateur" field_name="user" field_id="filter-user" options=users_select selected_value=selected_user all_option_label="Tous les utilisateurs" use_key_as_value=True %}
                {% include 'Html/partial/filter/search/filter_select.html' with label="Filtre soundboard" field_name="soundboard" field_id="filter-soundboard" options=soundboards_select selected_value=selected_soundboard all_option_label="Tous les soundboards" use_key_as_value=True %}
                {% include 'Html/partial/filter/search/filter_select.html' with label="Filtre date de création" field_name="period" field_id="filter-period" options=period_choices selected_value=selected_period all_option_label="Toutes les dates" use_key_as_value=True %}
                {% include 'Html/partial/filter/search/reset_btn.html' with reset_url=filter_reset_url %}
            </div>
        </form>

        <div class="flex-container">
            {% for playlist in page_objects %}
            <div class="position-relative">
                <button class="playlist-link playlist-element flex-item playlist-dim-{{ playlist_dim }} m-1 popup-data-playlist" data-title="{{playlist.name}}" data-url="{% url 'moderatorGetDataPlaylist' playlist.uuid %}" id="playlist-{{ playlist.uuid }}"
                    style="background-color: {{playlist.get_color}}; color: {{playlist.get_color_text}};">
                    {{ playlist | applys_soundboard_content}}
                </button>
                {% if playlist.moderator_ban_copie %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" title="Copie bloquée Copiable">
                    <i class="fa-solid fa-ban"></i>
                </span>
                {% elif playlist.is_copiable %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success" title="Copiable">
                    <i class="fa-regular fa-copy"></i>
                </span>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        {% applys_pagination paginator %}


    </div>


</div>




{% endblock %}