{% load static i18n %}



<button class="btn btn-link url_link p-1" aria-label="hide all" id="hideAll" data-shepherd="fullscreen-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'template.nav.main.hide_all' %}">
    <i class="fa-solid fa-maximize"></i>
</button>


<a class="btn btn-link url_link p-1" href="{% url 'publicIndex' %}" aria-label="Public" data-bs-toggle="tooltip" data-bs-placement="bottom" data-shepherd="public-soundboards-button" title="{% trans 'template.nav.main.public_soundboard' %}">
    <i class="fa-solid fa-earth-europe"></i>
    <span class="d-none d-lg-inline">{% trans "template.nav.main.public" %}</span>
</a>
{% if reportingContentUrl is not None %}
<button class="btn btn-link url_link p-1" aria-label="Report" id="reportButton" data-url="{{ reportingContentUrl }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'template.nav.main.report_issue' %}">
    <i class="fa-solid fa-flag"></i>
    <span class="d-none d-lg-inline">{% trans "template.nav.main.report" %}</span>
</button>
{% endif %}
{% if request.user.is_authenticated %}
<a class="btn btn-link url_link p-1" href="{% url 'soundboardsList' %}" aria-label="Soundboard" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'template.nav.main.my_soundboards' %}" data-shepherd="my-soundboards-button">
    <i class="fa-solid fa-volume-high"></i>
    <span class="d-none d-lg-inline">{% trans "template.nav.main.soundboards" %}</span>
</a>
<a class="btn btn-link url_link p-1" href="{% url 'playlistsAllList' %}" aria-label="Boutons" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'template.nav.main.my_buttons' %}" data-shepherd="my-playlist-button">
    <i class="fa-solid fa-music"></i>
    <span class="d-none d-lg-inline">{% trans "template.nav.main.buttons" %}</span>
</a>
{% if has_recent_async_download_jobs %}
<a class="btn btn-link url_link p-1 text-warning" href="{% url 'asyncDownloadJobsRecent' %}" aria-label="Téléchargements" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'template.nav.main.recent_downloads' %}">
    <i class="fa-solid fa-cloud-arrow-down"></i>
    <span class="d-none d-xl-inline">{% trans "template.nav.main.downloads" %}</span>
</a>
{% endif %}
{% if pending_playlist_proposals_count %}
<a class="btn btn-link url_link p-1 text-warning" href="{% url 'playlistProposalsList' %}" aria-label="Propositions" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'template.nav.main.playlist_proposals' %}">
    <i class="fa-solid fa-inbox"></i>
    <span class="d-none d-xl-inline">{% trans "template.nav.main.playlist_proposals" %}</span>
    <span class="badge rounded-pill bg-danger">{{ pending_playlist_proposals_count }}</span>
</a>
{% endif %}
{% endif %}
{% include 'Html/partial/structure/navbar/navbar_dropdown_lang.html'%}

{% if request.user.is_authenticated %}
{% include 'Html/partial/structure/navbar/navbar_dropdown_user.html'%}
{% if DEBUG %}
{% include 'Html/partial/structure/navbar/navbar_dropdown_debug.html'%}
{% endif %}
{% else %}

<a class="btn btn-link url_link p-1" href="{% url 'login' %}" aria-label="Login" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'template.nav.main.login' %}">
    <i class="fa-solid fa-right-to-bracket"></i>
    <span class="d-none d-lg-inline">{% trans "template.nav.main.login" %}</span>
</a>

{% endif %}