{% extends 'Html/partial/structure/base.html' %}

{% block content %}
    <h1>AmbianceBoard - Soundboard & Playlist Musicale pour Jeux de Rôle 🎵</h1>


    <p>
        

        Découvrez une expérience musicale unique avec notre application Soundboard !
        Ici, chaque bouton de notre liste de soundboards déclenche une playlist spécialement conçue, jouée de manière aléatoire. C'est simple, intuitif et parfait pour ajouter une touche sonore pour vos partie de jeux de rôle.
    </p>
    <p>
        <strong>Pourquoi choisir AmbianceBoard - Votre Soundboard pour Jeux de Rôle ?</strong>
        <ul>
            <li>🎶 Des playlists musicales variées et aléatoires : Chaque bouton soundboard est une surprise musicale !</li>
            <li>💡 100% Gratuit : Aucune inscription, aucun abonnement. Tout est à votre disposition gratuitement.</li>
            <li>🛠 Un projet personnel : Ce site est conçu et maintenu par moi, Charles Biselx, avec passion. Mon objectif ? Partager ma passion du jeu de role et de l'informatique afin d'augmenter l'immersion dans le jeu de rôle.
                Soutenez le projet</li>
        </ul>
        

        
        Si vous aimez ce que je fais et souhaitez m'encourager, pourquoi ne pas offrir l'équivalent d'un café pour soutenir le site ? Chaque don m'aide à couvrir les frais d'hébergement et à continuer d'améliorer l'expérience utilisateur.<br/>
        👉 Faire un don <a href="{{ link_donation }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">ici</a>
    </p>
    <p>
        <strong>Comment créer votre Soundboard avec Playlists Musicales ?</strong>
        <ol>
            <li>Créer un soundboard pour vos ambiances de jeu de rôle</li>
            <li>Ajouter des boutons à votre soundboard</li>
            <li>Alimenter vos boutons avec des playlists musicales</li>
            <li>Depuis un soundboard, profiter de vos ambiances musicales pour vos parties de JDR !</li>
        </ol>
    </p>

    
    <div class="alert alert-warning mt-3" role="alert">
        <strong>Compatibilité navigateur :</strong> L'application ne fonctionne pas correctement avec les navigateurs utilisant le moteur de rendu WebKit (ex: versions spécifiques de Safari / navigateurs embarqués iOS).<br/>
        Pour une expérience optimale, utilisez un navigateur basé sur Chromium (Chrome, Edge, Brave) ou Firefox.
    </div>

{% endblock %}
