{% extends 'Html/partial/structure/base.html' %}
{% load i18n %}

{% block content %}

<hr>
<div class="container mt-4">
    <h3>{% trans "template.account.delete.title" %}</h3>
    
    <p>{% trans "template.account.delete.confirmation" %}</p>
    
    <form method="DELETE" action="{% url 'deleteAccount' %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" id="delete-account" class="btn btn-danger">{% trans "template.account.delete.submit" %}</button>
    </form>
</div>
{% endblock %}