{% extends 'Html/partial/structure/base.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-4">
    <section>
        <h3>{% trans "template.account.settings.tour.title" %}</h3>
    
        <div class="text-center mt-4 d-grid d-sm-block">
            <button class="btn btn-info btn-lg fw-semibold shadow-sm px-4" id="start-onboarding-btn">
                <i class="fa-solid fa-compass me-2" aria-hidden="true"></i>{% trans "template.account.settings.tour.button" %}
            </button>
        </div>
    </section>

    <hr>
    <section>
        <h3>{% trans "template.account.settings.tier.current" %} <strong>{{ user_tiers }}</strong></h3>
        <div class="card">
            <div class="card-header">
                {% trans "template.account.settings.limits.title" %}
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans "template.account.settings.limits.feature" %}</th>
                            <th>{% trans "template.account.settings.limits.limit" %}</th>
                            <th>{% trans "template.account.settings.limits.current" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% trans "template.account.settings.limits.soundboards" %}</td>
                            <td>{{ limit.soundboard }}</td>
                            <td>{{ nb_soundboard }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "template.account.settings.limits.buttons" %}</td>
                            <td>{{ limit.playlist }}</td>
                            <td>{{ nb_playlist }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "template.account.settings.limits.music_per_button" %}</td>
                            <td>{{ limit.music_per_playlist }}</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>{% trans "template.account.settings.limits.max_music_weight" %}</td>
                            <td>{{ limit.weight_music_mb }}</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                {% trans "template.account.settings.application.title" %}
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans "template.account.settings.application.parameter" %}</th>
                            <th>{% trans "template.account.settings.application.value" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% trans "template.account.settings.application.max_audio_compression" %}</td>
                            <td><strong>{{ app_setting.target_bitrate }} kbps</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</div>
{% endblock %}