{% extends 'Html/partial/structure/base.html' %}
{% load i18n %}
{% load PlaylistEnum %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th class="d-none"> input typePlaylist</th>
                <th>{% trans "template.account.settings.playlist_style.type" %}</th>
                <th>{% trans "template.account.settings.playlist_style.background_color" %}</th>
                <th>{% trans "template.account.settings.playlist_style.text_color" %}</th>
            </tr>
        </thead>
        <tbody>
            {{ formset.management_form }}
            {% for form in formset %}
            <tr>
                <td class="d-none">
                    {{ form.typePlaylist }}
                </td>
                <td>{{ form.typePlaylist.value|to_value }} </td>
                <td>{{ form.color }}</td>
                <td>{{ form.colorText }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">{% trans "template.account.settings.playlist_style.save" %}</button>

    {% if formset.errors %}
    <ul>
        {% for error in formset.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</form>
{% endblock %}
