{% load static %}

{% block content %}

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Mixer le son
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <div class="mixer-container">
                    {% for playlistType in PlaylistTypeEnum %}
                    <div class="mixer-container-item">
                        <label for="" class="mixer-container-item-label" data-bs-toggle="tooltip" data-bs-title="Volume par des {{ playlistType.value}}">
                            <i class="{{ playlistType.get_icon_class }}" alt="{{ playlistType.value}}"></i>
                        </label>
                        <input type="range" id="mixer-{{ playlistType.value }}" data-type="{{ playlistType.value }}" class="mixer-playlist mixer-playlist-type vertical-mixer" min="0" max="1" value="1" step="0.1">
                    </div>
                    {% endfor %}
                    <div class="mixer-container-item">
                        <label for="" class="mixer-container-item-label">
                            <i class="fa-solid fa-sliders" alt="general" data-bs-toggle="tooltip" data-bs-title="Volume Général"></i>
                        </label>
                        <input type="range" id="mixer-general" data-type="General" class="mixer-playlist vertical-mixer" min="0" max="1" value="1" step="0.1">
                    </div>
                    {% if master == True %}
                    <div class="mixer-container-item">
                        <input type="checkbox" class="btn-check" id="inputShowMixerPlaylist" autocomplete="off">
                        <label class="btn btn-outline-primary btn-block px-0 py-1 my-1 text-sm" for="inputShowMixerPlaylist" data-bs-toggle="tooltip" data-bs-title="Afficher/masquer les niveaux sonores des boutons">
                            <small class="lh-1">
                                <span id="inputShowMixerPlaylist-show"><i class="fa-solid fa-eye"></i></span>
                                <span id="inputShowMixerPlaylist-hide" class="d-none"><i class="fa-solid fa-eye-slash"></i></span>
                                <i class="fa-solid fa-sliders" alt="general"></i> boutons
                            </small>
                        </label>
                        {% if owner == True %}
                        <div id="saveVolumePlaylistMixer-div" class="form-check form-switch d-none" data-bs-toggle="tooltip" data-bs-title="Modifier le volume de manière permanente">
                            <input class="form-check-input" type="checkbox" aria-checked="true" role="switch" id="saveVolumePlaylistMixer">
                            <label class="form-check-label" for="saveVolumePlaylistMixer"><small>Sauvegarder</small></label>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>

</div>


{% endblock  %}