{% load static %}
<div class="row">
    <div class="col-12">
        <div id="betaTest-id" class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsLoggerTesteur">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsLoggerTesteurTarget" aria-expanded="false" aria-controls="panelsLoggerTesteurTarget">
                        Logs de testeur
                    </button>
                </h2>
                <div id="panelsLoggerTesteurTarget" class="accordion-collapse collapse" aria-labelledby="panelsLoggerTesteur">
                    <div class="accordion-body">
                        <div id="console-testeur" class="console-testeur">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>