@import "../variables";


a {
    color: inherit;
    text-decoration: inherit !important;
}


body {
    min-height: 100vh;
    padding-top: 56px;
    padding-left: 0;
}

main {
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    main {
        margin-bottom: 100px;
    }

}

@media (min-width: 992px) {
    .with-sidebar {
        padding-left: $with-sidebar;
    }
}

@media (max-width: 992px) {
    .sidebar {
        display: none;
    }
}


.sidebar {
    width: $with-sidebar;
    margin-top: 10px;
    z-index: 1000;
}

.sidebar .nav li a {
    padding-left: 1em;
}



.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 1050;
}

@media (max-width: 992px) {
    .footer {
        font-size: 12px;
    }
}

.show-base-layout {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: none;
    width: 2.40rem;
    height: 2.40rem;
    text-align: center;
    color: var(--bs-white);
    background-color: inherit;
    padding: 0 !important;
    z-index: 1000;
    border-width: 1px;
    vertical-align: baseline;
    text-align: center;
    

    @at-root {
        html:not([data-bs-theme="dark"]) & {
            background-color: $bg_color_light;
            border-color: $border_color_light;
        }

        html[data-bs-theme="dark"] & {
            background-color: $bg_color_dark;
            border-color: $border_color_dark;

        }
    }
}

.show-base-layout:hover {
    @at-root {
        html:not([data-bs-theme="dark"]) & {
            background-color: $bg_color_light_hover;
        }

        html[data-bs-theme="dark"] & {
            background-color: $bg_color_dark_hover;
        }
    }

}

.show-base-layout:focus,
.show-base-layout:hover {
    color: var(--bs-white);
}

.show-base-layout i {
    font-weight: 800;
}

.url_link {
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-decoration: none !important;
    vertical-align: baseline;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: inherit;

    @at-root {
        html:not([data-bs-theme="dark"]) & {
            color: $text_color_dark;

            &:hover {
                color: $text_color_dark_hover;
                text-decoration: underline;
                opacity: 0.9;
            }
        }

        html[data-bs-theme="dark"] & {
            color: $text_color_light;

            &:hover {
                color: $text_color_light_hover;
                text-decoration: underline;
                opacity: 0.9;
            }
        }
    }
}



.main-title {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.btn-block {
    display: block;
    width: 100%;
}