{% extends 'Html/base.html' %}
{% load Playlist %}

{% block javascript %}
{% load static %}
<script src="{% static 'js_pure/form/playlist_form.js' %}"></script>
{% endblock javascript %}

{% block content %}

<h2>
    {% if method == 'update' %}
    Modifier la playlist {{ form.instance.name }}
    {% else %}
    Créer une nouvelle playlist
    {% endif %}
</h2>

<div class="row">
    <div class="col-12 col-sm-11 col-md-10 col-xl-8">
        <div>
            {% if method == 'update' %}
            <div>
                <button class="btn btn-danger" onclick=confirmSuppressionPlaylist(this) data-deleteurl="{% url 'playlistDelete' form.instance.id %}" data-redirecturl="{% url 'playlistsAllList' %}">Delete playlist</button>
            </div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        {{ form.name.label }} * :<br /> {{ form.name }}
                        {% if form.name.errors %}
                        <ul>
                            {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-md-6">
                        {{ form.typePlaylist.label }} * :<br /> {{ form.typePlaylist }}
                        {% if form.typePlaylist.errors %}
                        <ul>
                            {% for error in form.typePlaylist.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <button type="button" class="btn btn-info" onclick="showDescriptionType()">Show description</button>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        {{ form.color.label }} * :<br /> {{ form.color }}
                    </div>
                    <div class="col-sm-12 col-md-4">
                        {{ form.colorText.label }} * :<br />{{ form.colorText }}
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <button type="button" class="btn btn-info" onclick="getListingOtherColors(this)" data-url="{% url 'getListingOtherColors' %}">Selectionner couleurs existantes</button>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        {{ form.volume.label }} * :<br /> {{ form.volume }}
                        {% if form.volume.errors %}
                        <ul>
                            {% for error in form.volume.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-md-6">
                        {{ form.icon.label }} :<br />
                        {% if form.instance.icon %}
                        {{ form.icon.help_text|safe }} | {{ form.clear_icon }} Supprimer le fichier <br />
                        {% endif %}
                        {{ form.icon }}
                        {% if form.icon.errors %}
                        <ul>
                            {% for error in form.icon.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <button class="btn btn-success" type="submit">
                            {% if method == 'update' %}
                            Modifier
                            {% else %}
                            Créer
                            {% endif %}
                        </button>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <div class="col-12 col-sm-1 col-md-2 col-xl-4">
        <div class="playlist-link playlist-element playlist-dim-100 m-1" id="demo-playlist">
            {% if method == 'update' %}
            {{ form.instance | applys_playlist_content}}
            {% endif %}
        </div>
    </div>
</div>


{% if method == 'update' %}
<div class="row mt-2">
    <div class="col">
        <div class="gestion">
            <div>
                <button class="btn btn-primary btn-block" title="Add a music to the playlist" onclick="showPopupMusic(this)" data-url="{% url 'addMusic' form.instance.id %}">add music</button>
            </div>
            <div class"flex-container">
                {% if listMusic is not null %}
                {% for music in listMusic %}
                <div class="music flex-item flex-item-3 border border-secondary rounded p-2">
                    <div class="music-name">
                        {{ music.alternativeName }} <br />
                        <small>
                            {{ music.fileName }}
                        </small>
                    </div>
                    <div>
                        <audio class="music-player" src="{{ music.file.url }}" controls></audio>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-warning" title="Edit {{ music.fileName }}" onclick=showPopupMusic(this) data-url="{% url 'editMusic' form.instance.id music.id %}">Edit</button>
                        <button class="btn btn-danger" onclick=confirmSuppressionMusic(this) data-deleteurl="{% url 'deleteMusic' form.instance.id music.id %}" data-redirecturl="{% url 'playlistUpdate' form.instance.id %}">Delete</button>
                    </div>
                </div>
                {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}




{% endblock content %}