{% extends 'Html/base.html' %}
{% load SoundBoard %}
{% load FrontJs %}

{% block javascript %}
{% load static %}
<script type="module" src="{% static 'FormSoundboard'|search_true_file %}"></script>
{% endblock javascript %}

{% block content %}

<h2>
    {% if method == 'update' %}
    Modifier le SoundBoard {{ form.instance.name }}
    {% else %}
    Créer un nouveau SoundBoard
    {% endif %}
</h2>


<div class="row">
    <div class="col-12 col-sm-11 col-md-10 col-xl-8">
        <div>
            {% if form.instance.uuid %}
            <div>
                <button class="btn btn-danger" id="btn-delete-soundboard" data-deleteurl="{% url 'soundboardsDelete' form.instance.uuid %}" data-redirecturl="{% url 'soundboardsList' %}">Supprimer</button>
            </div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div>
                    {{ form.name.label }} * :<br /> {{ form.name }}
                    {% if form.name.errors %}
                    <ul>
                        {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div>
                    {{ form.color.label }} * :<br /> {{ form.color }}
                </div>
                <div>
                    {{ form.colorText.label }} * :<br />{{ form.colorText }}
                </div>
                <div>
                    {{ form.is_public.label }} * :<br />{{ form.is_public }}
                </div>

                <div>
                    {{ form.icon.label }} :<br />
                    {% if form.instance.icon %}
                    {{ form.icon.help_text|safe }} | {{ form.clear_icon }} Supprimer le fichier <br />
                    {% endif %}
                    {{ form.icon }}
                    {% if form.icon.errors %}
                    <ul>
                        {% for error in form.icon.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <button class="btn btn-primary" type="submit">
                    {% if method == 'update' %}
                    Modifier le SoundBoard
                    {% else %}
                    Créer un nouveau SoundBoard
                    {% endif %}
                </button>
            </form>


        </div>
    </div>
    <div class="col-12 col-sm-1 col-md-2 col-xl-4">
        <div class="playlist-link playlist-element playlist-dim-200 m-1" id="demo-soundboard">
            {% if method == 'update' %}
            {{ form.instance | applys_soundboard_content}}
            {% endif %}
        </div>
    </div>
</div>



{% endblock content %}