{% extends 'Html/base.html' %}
{% load Playlist %}
{% load FrontJs %}
{% load static %}

{% block javascript %}
{{ block.super }}
<script type="module" src="{% static "SounboardOrganizer"|search_true_file %}"></script>
{% endblock javascript %}

{% block content %}
<h2>Playlists</h2>
<div class="row">
    <div class="col-12">
        <a type="button" href="{% url 'soundboardsRead' soundboard.uuid %}" class="btn btn-info float-end">Retour</a>
    </div>
    <div class="col-6">
        <h3>Playlists non associées</h3>
        <div class="flex-container zone-dragAndDrop border border-secondary rounded" id="unassociated-playlists">
            <span class="unassociated-playlists-empty " hidden="true">Aucune playlist non associée</span>
            {% for playlist in unassociatedPlaylists %}
            <div class="playlist-dragAndDrop flex-item position-relative" data-order="" id="{{ playlist.uuid }}" draggable="true">
                <div class="playlist-link playlist-element playlist-dim-{{ playlist_dim }} m-1" style="background-color: {{playlist.get_color}}; color: {{playlist.get_color_text}};">
                    {{ playlist | applys_playlist_content}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="col-6">
        <h3>Playlists associées</h3>
        <div class="flex-container zone-dragAndDrop border border-primary rounded" id="associated-playlists" data-url="{% url 'organizeSoundboardUpdate' soundboard.uuid %}">
            <span class="associated-playlists-empty" hidden="true">Aucune playlist associée</span>
            {% for playlist in actualPlaylist %}
            <div class="playlist-dragAndDrop flex-item position-relative" data-order="{{ playlist.get_order }}" id="{{ playlist.uuid }}" draggable="true">
                <div class="playlist-link  playlist-element playlist-dim-{{ playlist_dim }} m-1" style="background-color: {{playlist.get_color}}; color: {{playlist.get_color_text}};">
                    {{ playlist | applys_playlist_content}}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>



{% endblock %}