{% extends 'Html/base.html' %}
{% load SoundBoard %}

{% block content %}
<h2>Soundboards</h2>
<div class="row">
    <div class="col-12 col-xl-10">
        <div class="flex-container">
            {% for soundboard in soundboards %}
            <a href="{% url 'soundboardsRead' soundboard.id %}">
                <div class="playlist-link playlist-element flex-item playlist-dim-200 m-1" style="background-color: {{ soundboard.color }};color: {{ soundboard.colorText }};">
                    {{ soundboard | applys_soundboard_content}}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>


<div>
    <a class="btn btn-primary btn-block" href="{% url 'soundboardsNew' %}">Ajouter un Soundboard</a>
</div>
{% endblock %}