{% extends 'base_moderator.html' %}
{% load SoundBoard %}
{% load PaginationLinks %}

{% block navbar %}
{% include "navbar_moderator.html" %}
{% endblock navbar %}


{% block content %}

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <th>Date</th>
                <th>Utilisateur</th>
                <th>Tag</th>
                <th>Message</th>
                <th>Action</th>
            </thead>
            {% for messageLog in page_objects %}
            <tr>
                <td>
                    <small>{{ messageLog.created_at | date:"Y-m-d \T H:i" }} ({{messageLog.created_at|timesince}}) </small>
                </td>
                <td>
                    <strong>{{ messageLog.user.username }}</strong>
                </td>
                <td>
                    {{ messageLog.tag }}
                </td>
                <td>
                    {{ messageLog.message }}
                </td>
                <td>
                    <button class="btn btn-primary" onclick="getDataUser(this)" data-title="{{messageLog.created_at | date:"Y-m-d \T H:i"}} {{messageLog.tag}}" data-url="{% url 'moderatorGetDataUser' user.id %}" id="user-{{ user.id }}">
                        Plus d'info
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
        {{ paginator|applys_pagination }}
    </div>
</div>

{% endblock %}