{% load static %}

<a class="btn btn-link url_link p-1" href="{% url 'moderatorDashboard' %}" aria-label="Dashboard">
    <i class="fa-solid fa-chart-line"></i>
    <span class="d-none d-lg-inline">Dashboard</span>
</a>
<a class="btn btn-link url_link p-1" href="{% url 'moderatorControleImagesPlaylist' %}" aria-label="Soundboard">
    <i class="fa-solid fa-table-cells-large"></i>
    <span class="d-none d-lg-inline">Soundboards</span>
</a>
<a class="btn btn-link url_link p-1" href="{% url 'moderatorControleImagesSoundboard' %}" aria-label="Playlists">
    <i class="fa-solid fa-music"></i>
    <span class="d-none d-lg-inline">Playlists</span>
</a>
<a class="btn btn-link url_link p-1" href="{% url 'moderatorControleLog' %}" aria-label="logs">
    <i class="fa-solid fa-helmet-safety"></i>
    <span class="d-none d-lg-inline">Logs</span>
</a>
{% include 'Html/navbar_dropdown_user.html'%}




