{% load static %}


<a class="btn btn-link url_link p-1" href="{% url 'publicIndex' %}" aria-label="Public">
    <i class="fa-solid fa-universal-access"></i>
    <span class="d-none d-lg-inline">Public</span>
</a>
{% if request.user.is_authenticated %}
<a class="btn btn-link url_link p-1" href="{% url 'soundboardsList' %}" aria-label="Soundboard">
    <i class="fa-solid fa-table-cells-large"></i>
    <span class="d-none d-lg-inline">Soundboards</span>
</a>
<a class="btn btn-link url_link p-1" href="{% url 'playlistsAllList' %}" aria-label="Playlists">
    <i class="fa-solid fa-table-list"></i>
    <span class="d-none d-lg-inline">Playlists</span>
</a>
{% include 'Html/navbar_dropdown_user.html'%}

{% else %}
<a class="btn btn-link url_link p-1"  href="{% url 'login' %}" aria-label="Playlists">
    <i class="fa-solid fa-right-to-bracket"></i>
    <span class="d-none d-lg-inline">Login</span>
</a>
<a class="btn btn-link url_link p-1"  href="{% url 'createAccount' %}" aria-label="Playlists">
    <i class="fa-solid fa-user-plus"></i>
    <span class="d-none d-lg-inline">Creation</span>
</a>
{% endif %}

