{% load i18n %}

<ul>
    <li class="password-rules" id="password_rules_minLength">{% trans "template.account.password_rule.min_length" %}</li>
    <li class="password-rules" id="password_rules_hasUpperCase">{% trans "template.account.password_rule.uppercase" %}</li>
    <li class="password-rules" id="password_rules_hasLowerCase">{% trans "template.account.password_rule.lowercase" %}</li>
    <li class="password-rules" id="password_rules_hasNumber">{% trans "template.account.password_rule.number" %}</li>
    <li class="password-rules" id="password_rules_hasSpecialChar">{% trans "template.account.password_rule.special_char" %}</li>
</ul>