.zone{
    display: flex;
    flex:auto !important;
}


.zone-dragAndDrop{
    min-height: 60vh;
    height: 100%;
}


.playlist-dragAndDrop{
    flex-grow: 0; /* Empêche les enfants de grandir */
    flex-shrink: 0; /* Permet aux enfants de rétrécir si nécessaire */
    align-self: flex-start;
}