{% extends 'Html/base_moderator.html' %}
{% load SoundBoard %}
{% load PaginationLinks %}

{% block resource %}

{% endblock resource %}

{% block navbar %}
{% include "Html/navbar_moderator.html" %}
{% endblock navbar %}


{% block content %}

<div class="row">
    <div class="col-12">

        <div class="flex-container">
            {% for playlist in page_objects %}
            <button class="playlist-link playlist-element flex-item playlist-dim-{{ playlist_dim }} m-1 popup-data-playlist" data-title="{{playlist.name}}" data-url="{% url 'moderatorGetDataPlaylist' playlist.uuid %}" id="playlist-{{ playlist.uuid }}"
                style="background-color: {{playlist.get_color}}; color: {{playlist.get_color_text}};" data-playlist-uri="{% url 'streamMusic' playlist.uuid %}">
                {{ playlist | applys_soundboard_content}}
            </button>
            {% endfor %}
        </div>

        {% applys_pagination paginator %}


    </div>


</div>




{% endblock %}