{% extends 'Html/base_manager.html' %}



{% load static %}
{% load FrontJs %}

{% block javascript %}
{{ block.super }}
<script type="module" src="{% static "ManagerDashboard"|search_true_file %}"></script>
{% endblock javascript %}


{% block content %}

<div class="row">
    <div class="col-12">
        <h2>Tableau de bord Manager</h2>

        <!-- Outils d'administration -->
        <div class="row mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Evolutions utilisateurs</h5>
                    </div>
                    <div class="card-body">
                        <div id="evolution-user" data-url="{% url 'managerUserAccountDashboard' %}"></div>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Activités utilisateurs</h5>
                    </div>
                    <div class="card-body">
                        <div id="activity-user" data-url="{% url 'managerUsersActivityDashboard' %}"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}