{% load static %}



<button class="btn btn-link url_link p-1" aria-label="hide all" id="hideAll" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Masquer tout">
    <i class="fa-solid fa-maximize"></i>
</button>


<a class="btn btn-link url_link p-1" href="{% url 'publicIndex' %}" aria-label="Public" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Soundboard publique">
    <i class="fa-solid fa-universal-access"></i>
    <span class="d-none d-lg-inline">Public</span>
</a>
{% if reportingContentUrl is not None %}
<button class="btn btn-link url_link p-1" aria-label="Report" id="reportButton" data-url="{{ reportingContentUrl }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Signaler un problème">
    <i class="fa-solid fa-flag"></i>
    <span class="d-none d-lg-inline">Report</span>
</button>
{% endif %}
{% if request.user.is_authenticated %}
<a class="btn btn-link url_link p-1" href="{% url 'soundboardsList' %}" aria-label="Soundboard" data-bs-toggle="tooltip" data-bs-placement="bottom" title="liste de vos soundboards">
    <i class="fa-solid fa-table-cells-large"></i>
    <span class="d-none d-lg-inline">Soundboards</span>
</a>
<a class="btn btn-link url_link p-1" href="{% url 'playlistsAllList' %}" aria-label="Boutons" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Liste de vos boutons">
    <i class="fa-solid fa-table-list"></i>
    <span class="d-none d-lg-inline">Boutons</span>
</a>
{% include 'Html/navbar_dropdown_user.html'%}

{% else %}
<a class="btn btn-link url_link p-1" href="{% url 'createAccount' %}" aria-label="Inscription" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Inscription">
    <i class="fa-solid fa-user-plus"></i>
    <span class="d-none d-lg-inline">Inscription</span>
</a>
<a class="btn btn-link url_link p-1" href="{% url 'login' %}" aria-label="Login" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Login">
    <i class="fa-solid fa-right-to-bracket"></i>
    <span class="d-none d-lg-inline">Login</span>
</a>

{% endif %}