{% load Register %}

<div class="dropdown">
    <button class="btn btn-link url_link dropdown-toggle d-flex align-items-center text-decoration-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-user"></i>
        <span class="d-none d-lg-inline">&nbsp;{{request.user.username}}</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow-sm">
        <li><a class="dropdown-item"  href="{% url 'logout' %}">Deconnexion</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'settingsIndex' %}">Settings</a></li>
        {% if request.user|has_group:"MODERATEUR" %}
        <li>
            <hr class="dropdown-divider">    
        </li>
        <li><a class="dropdown-item" href="{% url 'moderatorDashboard' %}">Moderation</a></li>
        {% endif %}
        {% if request.user|has_group:"MANAGER" %}
        <li>
            <hr class="dropdown-divider">    
        </li>
        <li><a class="dropdown-item" href="{% url 'managerDashboard' %}">Manager</a></li>
        {% endif %}
    </ul>
</div>
