{% load static %}

<div class="mixer-container">
    {% for playlistType in PlaylistTypeEnum %}
    <div class="mixer-container-item">
        <label for="" class="mixer-container-item-label"> 
            <i class="{{ playlistType.get_icon_class }}" alt="{{ playlistType.value}}"></i>
        </label>
        <input type="range" id="mixer-{{ playlistType.value }}" data-type="{{ playlistType.value }}" class="mixer-playlist mixer-playlist-type vertical-mixer" min="0" max="1" value="1" step="0.1">
    </div>
    {% endfor %}
    <div class="mixer-container-item">
        <label for="" class="mixer-container-item-label">
            <i class="fa-solid fa-sliders" alt="general"></i>
        </label>
        <input type="range" id="mixer-general" class="mixer-playlist vertical-mixer" min="0" max="1" value="1" step="0.1">
    </div>

</div>