<nav aria-label="pagination" class="d-flex justify-content-center mt-2" id="pagination">
    {% if pagination.page_range|length > 1 %}
        
    <ul class="pagination pagination-sm">
        {% if pagination.is_first_page %}
        <li class="page-item"><button class="page-link disabled" >Précédente</button></li>
        {% else %}
        <li class="page-item"><button class="page-link" data-page="{{ pagination.previous_page_number }}">Précédente</button></li>
        {% endif %}

        {% for page in pagination.page_range %}
            {% if page == pagination.page_number %}
            <li class="page-item active"><button class="page-link" data-page="{{ page }}">{{ page }}</button></li>
            {% else %}
            <li class="page-item "><button class="page-link" data-page="{{ page }}">{{ page }}</button></li>
            {% endif %}
        {% endfor %}

        {% if pagination.is_last_page %}
        <li class="page-item"><button class="page-link disabled" >Suivante</button></li>
        {% else %}
        <li class="page-item"><button class="page-link" data-page="{{ pagination.next_page_number }}">Suivante</button></li>
        {% endif %}
    </ul>
    {% endif %}

</nav>