{% extends 'Html/base.html' %}

{% block content %}
<form id="connexion-form" method="post">
    {% csrf_token %}
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" required>

    <button class="btn btn-primary" type="submit">Se connecter</button>
    <a class="btn btn-secondary" href="{% url 'send_reset_password' %}">mot de passe oublié</a>
</form>

{% endblock %}