$base_dimension: 80;
$playlist-dimensions: 50, 75, 100, 125, 150, 175, 200;

@each $dimension in $playlist-dimensions {
    .soundboard-dim-#{$dimension} {
        width: #{$dimension/100 * $base_dimension}px;
        height: #{$dimension/100 * $base_dimension}px;
    }
}

.soundboard-element {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
}

.soundboard-img {
    pointer-events: none;
    max-width: 100%;
    max-height: 100%;
}