{% extends "Email/base.html" %}
{% load i18n %}


{% block content %} 

<div>
    <h1>{% trans "template.email.moderator.reported.title" %}</h1>
    <p>
        <h3>{% trans "template.email.moderator.reported.details.title" %}</h3>
        <strong>{% trans "template.email.moderator.reported.field.element" %}</strong> {{ report.typeElement }}<br>
        <strong>{% trans "template.email.moderator.reported.field.precision" %}</strong> {{ report.precisionElement }}<br>
        <strong>{% trans "template.email.moderator.reported.field.description" %}</strong> {{ report.descriptionElement }} <br>
        <strong>{% trans "template.email.moderator.reported.field.reported_at" %}</strong> {{ report.created_at|date:"Y-m-d H:i:s" }}<br>
    </p>
    {% if report.creator %}
        <p>
            <h3>{% trans "template.email.moderator.reported.user_info.title" %}</h3>
            <strong>{% trans "template.email.moderator.reported.user_info.email" %}</strong> {{ report.creator.email }}<br>
            <strong>{% trans "template.email.moderator.reported.user_info.username" %}</strong> {{ report.creator.username }}<br>
            <strong>{% trans "template.email.moderator.reported.user_info.registered_at" %}</strong> {{ report.creator.date_joined }}<br>
        </p>
    {% endif %}
</div>

{% endblock content %}