.mixer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mixer-container-item{
    width: 25%;
    height: 150px;
}

.mixer-container-item-label{
    text-align: center;
    display: block;
}

.vertical-mixer {
    writing-mode: vertical-lr;
    direction: rtl;
    display: block;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}


